// Variables
$color-primary: #252525
$color-secondary: #00B4DB
$gradient1: #0083B0
$gradient2: #00B4DB
$font-titles: 'Source Sans Pro', sans-serif
$font-text: 'Lora', serif

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Source+Sans+Pro:wght@400;700&display=swap')

// Mixins
@mixin transition($time)
  -webkit-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -moz-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -ms-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -o-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  transition: all $time cubic-bezier(0.42, 0, 0.58, 1)

@mixin gradient
  background: rgb(0,131,176)
  background: linear-gradient(0deg, $gradient1 0%, $gradient2 100%)

a, a:active, a:visited
  color: inherit
  text-decoration: none

html
  font-family: $font-text

body
  font-family: $font-text
  font-weight: 300
  font-size: 16px
  background-color: white
  a, a:active, a:visited
    color: inherit
    text-decoration: none

header.menu-mobile-active
  @media only screen and (max-width: 40rem)
    @include transition(500ms)
    background-color: rgba(black, 0.2)

.header
  position: relative
  background-color: transparent
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 0
  font-family: $font-titles
  font-weight: 700
  font-size: 18px
  color: white
  nav
    display: flex
    gap: 50px
    a
      @include transition(500ms)
      &.active,
      &:hover
        color: $color-secondary
  .logo
    width: 186px
  @media only screen and (max-width: 40rem)
    width: 100%
    gap: 40px
    padding: 10px
    flex-wrap: wrap
    nav
      flex-direction: column
      flex-wrap: wrap
      gap: 10px

footer
  padding: 40px 0
  background-color: $color-primary
  color: #FFF
  font-family: $font-titles
  font-size: 14px
  .footer-wrap
    display: flex
    gap: 200px
    flex-wrap: wrap
    align-items: flex-end
    justify-content: center
  .footer-content
    display: flex
    gap: 40px
    flex-direction: column
  .logo
    width: 186px
  .contact-info-wrap
    display: flex
    gap: 5px
    flex-direction: column
  .contact-info
    display: flex
    gap: 10px
  @media only screen and (max-width: 60rem)
    .footer-wrap
      flex-direction: column
      gap: 50px
      align-items: center
    .footer-content
      align-items: center
    .address
      text-align: center
