// Components
.btn-primary
	font-family: $font-titles
	background-color: transparent
	color: white
	border: 1px solid $gradient2
	border-radius: 30px
	height: 60px
	width: 230px
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	@include transition(500ms)

.sec-title
	display: block
	width: 320px
	font-family: $font-titles
	font-size: 18px
	color: $color-primary
	padding-bottom: 20px
	border-bottom: 1px solid #aaa
	text-transform: uppercase
	margin-bottom: 100px

.paragraph
	font-family: $font-text
	font-size: 20px
	line-height: 1.5
	color: $color-primary
	margin-bottom: 0

.sec-headline
	font-family: $font-titles
	font-size: 40px
	color: $color-primary
	line-height: 1.4
	margin-bottom: 0

.sec-subhead
	font-family: $font-text
	font-size: 23px
	color: $color-primary
	line-height: 1.4
	margin-bottom: 0

form
	display: flex
	flex-direction: column
	gap: 30px
	label
		font-family: $font-titles
		color: $color-primary
	input[type='text'], input[type='email'], input[type='tel'], input[type='submit'], textarea
		width: 400px
		height: 70px
		border-radius: 4px
		background-color: #FCFCFC
		border: 1px solid #F7F7F7
		// Foundation overrides
		box-shadow: none
		margin: 0
		@media only screen and (max-width: 40rem)
			width: 100%
	input[type='submit']
		font-family: $font-titles
		@include gradient
		color: white
		width: 200px
		height: 60px
		border-radius: 60px
		text-transform: uppercase
	textarea
		width: 100%
	.fields-wrap
		display: flex
		flex-wrap: wrap
		gap: 30px
